[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Usecase Secrétaire page 1.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FD9MJUS01/usecase_secr__taire_page_1.pdf
Icon=text-html
