[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Usecase secrétaire page 3.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FDAC7S919/usecase_secr__taire_page_3.pdf
Icon=text-html
