[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Usecase secrétaire page 2.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FDAEHCXDY/usecase_secr__taire_page_2.pdf
Icon=text-html
