[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Page Acceuil Enseignant.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FDAGF1PMK/page_acceuil_enseignant.pdf
Icon=text-html
