[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Usecase enseignant - QCM.pdf  64 kB PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FDA6XUM5Z/usecase_enseignant_-_qcm.pdf
Icon=text-html
