[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Page de connection Utilisateur.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FD9R8V1JM/page_de_connection_utilisateur.pdf
Icon=text-html
