[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Wireframe secretaire Acceuil.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FDBT9EPAS/wireframe_secretaire_acceuil.pdf
Icon=text-html
