[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Wireframe secretaire recapSession.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FDAE11D8B/wireframe_secretaire_recapsession.pdf
Icon=text-html
