[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Wireframe enseignant Moreinfo.pdf  PDFClick to view
Type=Link
URL=https://files.slack.com/files-pri/T0731C51C-FDANS66S1/wireframe_enseignant_moreinfo.pdf
Icon=text-html
